/* Student dashboard assignment details */
.submissions-container > ul > li{
	overflow: hidden;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #eeeeee;
}

	.submissions-container > ul > li > h2{
		font-family: "Open Sans", sans-serif;
		font-weight: 200;
		margin: 0 0 10px;
		padding: 0;
	}

	.submissions-container > ul > li ul li{
		overflow: hidden;
		clear: both;
	}

		.grade-details{
			float: left;
			background: #e6e6e6;
			padding: 20px 10px 5px;
			margin: 0 20px 10px 0;
			width: 90px;
			height: 80px;
		}

			.grade-details .grade-note{
				display: block;
				font-size: 1em;
				text-align: center;
				color: rgb(160,160,160);
				font-family: "Open Sans", sans-serif;
			}

			.grade-details .actual-grade{
				font-size: 3em;
				display: block;
				margin-top: 10px;
				text-align: center;
				font-family: "Open Sans", sans-serif;
				font-weight: 200;
			}

	.details{
		font-style: italic;
		margin-bottom: 5px;
	}
/** Adding distiction between personal and group submissions **/
.submissions-container .individual-submission span {
	font-style: italic;
	border-bottom: 1px solid #222;
}
.submissions-container .individual-submission:before, .submissions-container .group-submission:before, .submissions-container > ul h2:before {
	display: inline-block;
	width: 36px;
	height: 36px;
	font-size: 25px;
	line-height: 1.5;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #0074a2;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 500px;
	color: #fff;
}

.submissions-container > ul h2:before {
	content: "\f123";
	color: #bbb;
	background: none;
}

.submissions-container .individual-submission:before {
	content: "\f110";
}
.submissions-container .group-submission:before {
	content: "\f307";
}