/* Student dashboard assignment details */
.submissions-container > ul > li{
	overflow: hidden;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #eeeeee;
}

	.submissions-container > ul > li > h2{
		font-family: "Open Sans", sans-serif;
		font-weight: 200;
		margin: 0 0 10px;
		padding: 0;
	}

	.submissions-container > ul > li ul li{
		overflow: hidden;
		clear: both;
	}

		.grade-details{
			float: left;
			background: #e6e6e6;
			padding: 20px 10px 5px;
			margin: 0 20px 10px 0;
			width: 90px;
			height: 80px;
		}

			.grade-details .grade-note{
				display: block;
				font-size: 1em;
				text-align: center;
				color: rgb(160,160,160);
				font-family: "Open Sans", sans-serif;
			}

			.grade-details .actual-grade{
				font-size: 3em;
				display: block;
				margin-top: 10px;
				text-align: center;
				font-family: "Open Sans", sans-serif;
				font-weight: 200;
			}

	.details{
		font-style: italic;
		margin-bottom: 5px;
	}